@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    scroll-behavior: smooth;
}



*:focus {
    outline: none;
}



body {
    background-color: #0F1322;
}











.s_box {
    position: relative;
    transform: skew(-36deg)
}

.textt {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;


}

.moto {
    font-family: Arial, Helvetica, sans-serif;

}

.icons {
    position: relative;
    animation: iconss 3s ease-out normal, bounce 3s 3s linear infinite;
}

.textt {
    position: relative;
    animation: t_right 1.2s ease-out normal;
}

.btn {
    position: relative;
    animation: t_up 1.2s ease-out normal;
}

.rotate {
    animation: rotate 10s infinite linear;
}

@keyframes bounce {
    0% {

        transform: translateY(0);


    }

    50% {
        transform: translateY(-7px);

    }

    100% {
        transform: translateY(0);


    }

}

.text_inni {
    position: relative;
    animation: animate 0.7s ease-in-out normal;

}

.btn_inni {
    position: relative;
    animation: animate 0.7s ease-out normal;

}

.logo_inni {
    position: relative;
    animation: animate_logo 1s ease-out normal;

}

.text_inni_main {
    position: relative;
    font-weight: 500;

    animation: animate_logo 3s ease-out normal;


}

.upp {
    position: relative;
    animation: animate 1.2s ease-out linear;
}

#kuchbhe:hover .haikuch:nth-child(1) {
    position: relative;
    left: 108px;
    transition-duration: 0.3s;


}

#kuchbhe:hover .yebhe {
    position: relative;
    left: -40px;

    transition-duration: 0.3s;

}


@keyframes animate {
    0% {

        opacity: 0;
        left: -20px;


    }

    100% {


        left: 0px;

        opacity: 1;
    }

}

@keyframes animate_logo {
    0% {

        opacity: 0;


    }

    100% {




        opacity: 1;
    }

}

@keyframes iconss {
    0% {
        top: 200px;
        transform: rotate(190deg);
        opacity: 0;

    }

    50% {
        top: 5px;

        opacity: 0.3;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;


    }

}

@keyframes t_right {
    0% {
        left: -75px;

        opacity: 0;

    }

    50% {
        /* left: -100px; */

        opacity: 0.3;
    }

    100% {
        left: 0px;

        opacity: 1;


    }

}

@keyframes t_up {
    0% {
        top: 75px;

        opacity: 0;

    }

    50% {
        /* left: -100px; */

        opacity: 0.4;
    }

    100% {
        top: 0px;

        opacity: 1;


    }

}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    /* 50%{
        transform: rotate(180deg);

    } */
    100% {
        transform: rotate(360deg);

    }
}

input {
    /* text-align: center; */
    position: relative;
    padding-left: 10px;
}



/* .review::after {
    content: ' ”';
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.review::before {
    content: '“';
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} */

@media (max-width: 1410px) {
    .nextline {
        display: flex;
        flex-direction: column !important;

    }

}

@media (min-width: 1410px) {
    .nextline {

        gap: 0;

    }


}

.icon {
    z-index: 99;
}

.icon:hover {

    scale: 1.2;
    transition-duration: 0.4s;
}



/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #86C8D3 #0F1322;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #0F1322;
}

*::-webkit-scrollbar-thumb {
    background-color: #86C8D3;
    border-radius: 10px;
    border: 0px solid #0F1322;
}

.shadoww {

    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px; */
    box-shadow: 8px 8px 12px 0px rgba(255, 255, 255, 0.527);
}

.shadowin {

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.vm_text {
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.icons:hover {
    scale: 1.2;
    transition-duration: 0.5s;



}

.swiper-button-next {

    position: relative;
    
    transform: translateX(10%);
    transform: scale(0.6);


}

.swiper-button-prev {
    position: absolute;
    
    transform: translateX(-150%);
    transform: scale(0.6);

}

.swiper-nav-btns button {
    z-index: 100;
    position: relative;
    width: 60px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: hsl(210, 100%, 50%);
    color: #fff;
    margin: 0px 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 300px;
    margin-left: -100px;
    transition: all .5s;
  }
  
  .swiper-nav-btns button:hover {
    background-color: hsl(210, 100%, 40%);
    cursor: pointer;
  }
  .swiper {
    padding: 2rem;
  }