@tailwind base;
@tailwind components;
@tailwind utilities;

/* //index */


*{
    scroll-behavior: smooth;
}

/* ///-----------Contact section inputs------------------/// */
.boxx{
    box-shadow: 5px 5px #A06EE0;
    text-indent: 20px;
}
.name{
    pointer-events: none;
    transition: 0.3s;
    
}
/* .input:focus + .name{
    
    top: -30px;

    color: #A06EE0;
     */
/* } */
*:focus {
    outline: none;
}



.react-multi-carousel-list  {
    position: relative;
    padding-bottom: 50px;
    padding-left: 150px;
    

}
.custom-dot-list-style button{
    border: #A06EE0;
    background: #A06EE0;
    }

.init{
    background-image: url(../src/assets/Rectangle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.init2{
    background-image: url(../src/assets/team_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.people{
    filter: grayscale(80%);

}
.people:hover{
    filter: none;
    transition: .6s ease;
    
}